

<h1>Lots Index</h1>

<%= paginate @lots %>
<ul class="list-group">
	<% @lots.each do |lot| %>
		<li class="list-group-item">
			<%= lot.name %>
			<%= link_to("Show", lot_path(lot), class: "btn btn-default btn-xs") %>
			<%= link_to("Delete", lot_path(lot), class: "btn btn-default btn-xs", :method => :delete, data: {confirm: "Are you sure?"}) %>
		</li>
	<% end %>
</ul>
<%= link_to 'New Lot', :controller => 'lots', :action => 'new' %>
